################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Chapter21/DataProviderFactoryApp/.vs/DataProviderFactoryApp/v16
