################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/DataProviderFactoryApp/v16
/Chapter21/AutoLotDataReaderApp/.vs/AutoLotDataReaderApp/v16
