<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8080/MagicEightBallService"
                binding="basicHttpBinding"
                contract="ServiceReference1.IEightBall"
                name="BasicHttpBinding_IEightBall" />
    </client>
  </system.serviceModel>
</configuration>