<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Какой поставщик? -->
        <add key="Provider" value="System.Data.SqlClient"/>
        <!--<add key="Provider" value="System.Data.OleDb"/>-->
    </appSettings>
    <connectionStrings>
        <!-- Какая строка подключения? -->
        <add name ="AutoLotSqlProvider"
             connectionString="Data Source=NIK\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=True"/>
        <!--<add name="AutoLotOleDbProvider"
             connectionString="Provider=SQLNCLI11;Data Source=NIK\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=SSPI"/>-->
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>